In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.impute import SimpleImputer
from sklearn import preprocessing
from sklearn import svm
from sklearn.model_selection import cross_val_score
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [3]:
train_df = pd.read_csv('C:/MDemo/BHP/Data-Files/BHP_train.csv')
test_df = pd.read_csv('C:/MDemo/BHP/Data-Files/BHP_customer.csv')
print(train_df.shape)
print(test_df.shape)

(9355, 6)
(699, 5)

In [4]:
train_df['train']=1
test_df['test'] = 0

In [5]:
print(train_df.shape)
print(test_df.shape)

(9355, 7)
(699, 6)

In [6]:
train_df.info()
print()
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9355 entries, 0 to 9354
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   location        9355 non-null   object
 1   bhk             9355 non-null   int64
 2   total_sqft      9355 non-null   int64
 3   bath            9355 non-null   int64
 4   balcony         9355 non-null   int64
 5   price_in_lakhs  9355 non-null   int64
 6   train           9355 non-null   int64
dtypes: int64(6), object(1)
memory usage: 511.7+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    699 non-null    object
 1   bhk         699 non-null    int64
 2   total_sqft  699 non-null    int64
 3   bath        699 non-null    int64
 4   balcony     699 non-null    int64
 5   test        699 non-null    int64
dtypes: int64(5), object(1)
memory usage: 32.9+ KB

In [7]:
combined_df  = pd.concat([train_df, test_df])
combined_df.shape

(10054, 8)

In [8]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10054 entries, 0 to 698
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   location        10054 non-null  object
 1   bhk             10054 non-null  int64
 2   total_sqft      10054 non-null  int64
 3   bath            10054 non-null  int64
 4   balcony         10054 non-null  int64
 5   price_in_lakhs  9355 non-null   float64
 6   train           9355 non-null   float64
 7   test            699 non-null    float64
dtypes: float64(3), int64(4), object(1)
memory usage: 706.9+ KB

In [9]:
combined_df.isnull().sum()

location             0
bhk                  0
total_sqft           0
bath                 0
balcony              0
price_in_lakhs     699
train              699
test              9355
dtype: int64

In [10]:
train_df1 = combined_df[combined_df["train"] == 1]
test_df1 = combined_df[combined_df["test"] == 0]
train_df1.drop(["train", "test"], axis=1, inplace=True)
test_df1.drop(["test", "train", "price_in_lakhs"], axis=1, inplace=True)

In [11]:
train_df1.shape

(9355, 6)

In [12]:
train_df1.head()

       location  bhk  total_sqft  bath  balcony  price_in_lakhs
0    Whitefield    2        1130     2        1       4216000.0
1  Bommanahalli    2        1320     2        1      16500000.0
2  Bommanahalli    2        1270     2        1       9800000.0
3  Bommanahalli    2        1200     2        1       6200000.0
4  Bommanahalli    2        1200     2        1       7400000.0

In [13]:
test_df1.shape

(699, 5)

In [14]:
test_df1.head()

           location  bhk  total_sqft  bath  balcony
0      Bommanahalli    1         600     1        1
1  Electronics City    1         660     1        1
2      Bommanahalli    1         700     2        1
3      Bommanahalli    1         600     1        0
4      Bommanahalli    1         708     2        2

In [15]:
X = train_df1.drop(['price_in_lakhs'], axis = 1)
y = train_df1['price_in_lakhs']
X.head()

       location  bhk  total_sqft  bath  balcony
0    Whitefield    2        1130     2        1
1  Bommanahalli    2        1320     2        1
2  Bommanahalli    2        1270     2        1
3  Bommanahalli    2        1200     2        1
4  Bommanahalli    2        1200     2        1

In [16]:
y.head()

0     4216000.0
1    16500000.0
2     9800000.0
3     6200000.0
4     7400000.0
Name: price_in_lakhs, dtype: float64

In [17]:
columnNames = ['location','bhk','total_sqft','bath','balcony']

In [18]:
print(X)

          location  bhk  total_sqft  bath  balcony
0       Whitefield    2        1130     2        1
1     Bommanahalli    2        1320     2        1
2     Bommanahalli    2        1270     2        1
3     Bommanahalli    2        1200     2        1
4     Bommanahalli    2        1200     2        1
...            ...  ...         ...   ...      ...
9350    Whitefield    2        1345     2        1
9351    Whitefield    3        1715     3        3
9352    Whitefield    4        3600     5        3
9353    Whitefield    2        1141     2        1
9354    Whitefield    5        4689     4        1

[9355 rows x 5 columns]

In [19]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['location'] = le.fit_transform(X['location'])

In [20]:
print(X)

      location  bhk  total_sqft  bath  balcony
0            4    2        1130     2        1
1            0    2        1320     2        1
2            0    2        1270     2        1
3            0    2        1200     2        1
4            0    2        1200     2        1
...        ...  ...         ...   ...      ...
9350         4    2        1345     2        1
9351         4    3        1715     3        3
9352         4    4        3600     5        3
9353         4    2        1141     2        1
9354         4    5        4689     4        1

[9355 rows x 5 columns]

In [21]:
from sklearn.preprocessing import StandardScaler
std_scaler_object = preprocessing.StandardScaler()
X1 = std_scaler_object.fit_transform(X)
X1 = pd.DataFrame(X1 , columns = columnNames)
print(X1.shape)
X1.head()

(9355, 5)

   location       bhk  total_sqft      bath   balcony
0  1.435597 -0.506723   -0.519223 -0.552613 -0.935462
1 -1.360720 -0.506723   -0.182460 -0.552613 -0.935462
2 -1.360720 -0.506723   -0.271082 -0.552613 -0.935462
3 -1.360720 -0.506723   -0.395152 -0.552613 -0.935462
4 -1.360720 -0.506723   -0.395152 -0.552613 -0.935462

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 66)

In [23]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(7484, 5)
(7484,)
(1871, 5)
(1871,)

In [24]:
from sklearn.ensemble import RandomForestRegressor
RFR = RandomForestRegressor(n_estimators=100, random_state=0)
RFR.fit(X_train, y_train)

RandomForestRegressor(random_state=0)

In [25]:
RFR.score(X_train,y_train)

0.923162343423078

In [26]:
RFR_y_pred = RFR.predict(X_test)
print(y_test)
print()
print(RFR_y_pred)

3349     5500000.0
5038    12500000.0
8967     8500000.0
7329    10600000.0
173      7500000.0
           ...
9062     2847000.0
4011     5500000.0
3047     5236000.0
6776     4500000.0
6959     6957000.0
Name: price_in_lakhs, Length: 1871, dtype: float64

[ 8868313.33333333 11043456.66666666  5800850.         ...
  6981593.33333333  3998904.5         5031346.54761905]

In [27]:
RFR_Train_Prediction = RFR.predict(X_train)
print(RFR_Train_Prediction[:5])

[8522000.         4437168.57142857 3351318.88888889 3630245.
 6455321.5007215 ]

In [28]:
RFR_scores = cross_val_score(RFR, X, y, scoring='r2', cv=5)
print(RFR_scores)
RFR_CV_Average=np.average(RFR_scores)
RFR_CV_Average

[0.46721999 0.60894507 0.59429544 0.69682739 0.32893299]

0.5392441773943228

In [29]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
test_df1['location'] = le.fit_transform(test_df1['location'])
test_df1.head()

   location  bhk  total_sqft  bath  balcony
0         0    1         600     1        1
1         1    1         660     1        1
2         0    1         700     2        1
3         0    1         600     1        0
4         0    1         708     2        2

In [30]:
from sklearn.preprocessing import StandardScaler
std_scaler_object = preprocessing.StandardScaler()
test_df2 = std_scaler_object.fit_transform(test_df1)
test_df2 = pd.DataFrame(test_df2 , columns = columnNames)
print(test_df2.shape)
test_df2.head()

(699, 5)

   location       bhk  total_sqft      bath   balcony
0 -0.486634 -1.750304   -1.337370 -1.771568 -0.852160
1  0.343018 -1.750304   -1.266062 -1.771568 -0.852160
2 -0.486634 -1.750304   -1.218523 -0.726567 -0.852160
3 -0.486634 -1.750304   -1.337370 -1.771568 -2.138683
4 -0.486634 -1.750304   -1.209015 -0.726567  0.434363

In [31]:
cust_data_pred_sales = RFR.predict(test_df1)

In [32]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    699 non-null    object
 1   bhk         699 non-null    int64
 2   total_sqft  699 non-null    int64
 3   bath        699 non-null    int64
 4   balcony     699 non-null    int64
 5   test        699 non-null    int64
dtypes: int64(5), object(1)
memory usage: 32.9+ KB

In [33]:
test_df.drop(["test"], axis=1, inplace=True)
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    699 non-null    object
 1   bhk         699 non-null    int64
 2   total_sqft  699 non-null    int64
 3   bath        699 non-null    int64
 4   balcony     699 non-null    int64
dtypes: int64(4), object(1)
memory usage: 27.4+ KB

In [34]:
test_df["Pred_Sales"]=cust_data_pred_sales
print(test_df.shape)
test_df.head()

(699, 6)

           location  bhk  total_sqft  bath  balcony    Pred_Sales
0      Bommanahalli    1         600     1        1  2.765119e+06
1  Electronics City    1         660     1        1  1.728872e+06
2      Bommanahalli    1         700     2        1  2.742422e+06
3      Bommanahalli    1         600     1        0  2.797012e+06
4      Bommanahalli    1         708     2        2  4.380708e+06

In [35]:
test_df.to_csv("C:/MDemo/BHP/Output-Files/Customer_Data_with_Predicted_Values.csv", index = False)

In [36]:
import pickle
#now you can save it to a file
file = 'C:/MDemo/BHP/Model/ML_Model_LanPRed_01.pkl'
with open(file, 'wb') as f:
    pickle.dump(RFR, f)

In [37]:
with open(file, 'rb') as f:
    k = pickle.load(f)

In [38]:
cy=k.predict([[-0.486634,-1.750304,-1.337370,-1.771568,-2.138683]])
print(cy)

[2797011.66666667]